[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.9.1%2Bcpu-cp38-cp38-linux_x86_64.whl"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
